# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\01-myLearningCode\06-CatDogClassficationVGG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
